* {
    padding: 0;
    margin: 0;
    font-family: $fnt-body;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: $col-accent;
}

body {
    background-color: $col-bg;
}