//Colors
$col-main: #0f0f0f;
$col-alt: #fff;
$col-bg: #F6F6F6;
$col-dark: #1a6395;
$col-accent: #268CCE;
$col-active: #6ac4fc;
$col-danger: #dc3545;
$col-success: #0caa6d;

//Typography
$fnt-body: "Manrope", Material-Design-Iconic-Font, sans-serif;
$fnt-code: "Roboto Mono", Material-Design-Iconic-Font, sans-serif;

// Responsive breakpoints
$breakpt-mobile: 576px;
$breakpt-tablet: 768px;
$breakpt-desktop: 992px;